
@font-face{
	font-family: texticons;
	font-weight: normal;
	font-style: normal;
	src: url("https://at.alicdn.com/t/font_702773_ttt8tj203j.ttf") format("truetype");
}

.index{
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row{
	flex-direction: row;
}

.column{
	flex-direction: column;
}

page, view{
	display: flex;
}

page{
	min-height: 100%;
}

/* 个人中心 */

.center{
	flex-direction: column;
}

.logo{
	width: 750upx;
	height: 240upx;
	padding: 20upx;
	box-sizing: border-box;
	background-color: #fb6f18;
	flex-direction: row;
	align-items: center;
}

.logo-hover{
	opacity: 0.8;
}

.logo-img{
	width: 150upx;
	height: 150upx;
	border-radius: 150upx;
}

.logo-title{
	height: 150upx;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin-left: 20upx;
}

.user-name{
	height: 60upx;
	line-height: 60upx;
	font-size: 38upx;
	color: #FFFFFF;
}

.go-login.navigat-arrow{
	font-size: 38upx;
	color: #FFFFFF;
}

.login-title{
	height: 150upx;
	align-items: self-start;	
	justify-content: center;
	flex-direction: column;
	margin-left: 20upx;
}

.center-list{
	background-color: #FFFFFF;
	margin-top: 20upx;
	width: 750upx;
	flex-direction: column;
}

.center-list-item{
	height: 90upx;
	width: 750upx;
	box-sizing: border-box;
	flex-direction: row;
	padding: 0upx 20upx;
}

.border-bottom{
	border-bottom-width: 1upx;
	border-color: #C8C7CC;
	border-bottom-style: solid;
}

.list-icon{
	width: 40upx;
	height: 90upx;
	line-height: 90upx;
	font-size: 34upx;
	color: #fb6f18;
	text-align: center;
	font-family: texticons;
	margin-right: 20upx;
}

.list-text{
	height: 90upx;
	line-height: 90upx;
	font-size: 34upx;
	color: #555;
	flex: 1;
	text-align: left;
}

/* 箭头 */
.navigat-arrow{
	height: 90upx;
	width: 40upx;
	line-height: 90upx;
	font-size: 34upx;
	color: #555;
	text-align: right;
	font-family: texticons;
}